---
git_sha: {{ platform_release_id }}
platform_kind: {{ platform_kind | to_json }}
services:
{% for service in deployment_bundle_services %}
  - name: {{ service.name | to_json }}
    compose_files:
      - path: compose.yml
        checksum_sha256: {{ (lookup('file', playbook_dir ~ '/services/' ~ service.name ~ '/compose.yml', rstrip=false) | hash('sha256')) | to_json }}
{% set platform_source = deployment_bundle_platform_sources.results[loop.index0] %}
{% if platform_source.stat.exists %}
      - path: compose.{{ platform_kind }}.yml
        checksum_sha256: {{ (lookup('file', platform_source.stat.path, rstrip=false) | hash('sha256')) | to_json }}
{% endif %}
    images:
{% set compose = lookup('file', playbook_dir ~ '/services/' ~ service.name ~ '/compose.yml') | from_yaml %}
{% for definition in compose.services.values() %}
{% if definition.image is defined %}
      - {{ definition.image | to_json }}
{% endif %}
{% endfor %}
{% endfor %}
