---
git_sha: {{ platform_release_id | to_json }}
platform_kind: {{ platform_kind | to_json }}
platform_compose_kind: {{ platform_compose_kind | to_json }}
services:
{% for service in deployment_bundle_services %}
  - name: {{ service.name | to_json }}
    compose_files:
      - path: compose.yml
        checksum_sha256: {{ (lookup('file', playbook_dir ~ '/services/' ~ service.name ~ '/compose.yml', rstrip=false) | hash('sha256')) | to_json }}
{% set platform_source = deployment_bundle_platform_sources.results[loop.index0] %}
{% if platform_source.stat.exists %}
      - path: compose.{{ platform_compose_kind }}.yml
        checksum_sha256: {{ (lookup('file', platform_source.stat.path, rstrip=false) | hash('sha256')) | to_json }}
{% endif %}
{% set runtime_files = {'dozzle': ['alert_relay.py'], 'immich': ['classify_restore.py']}.get(service.name, []) %}
{% if runtime_files %}
    runtime_files:
{% for runtime_file in runtime_files %}
      - path: {{ runtime_file | to_json }}
        mode: "0644"
        checksum_sha256: {{ (lookup('file', playbook_dir ~ '/services/' ~ service.name ~ '/' ~ runtime_file, rstrip=false) | hash('sha256')) | to_json }}
{% endfor %}
{% else %}
    runtime_files: []
{% endif %}
    images:
{% set canonical_compose = lookup('file', playbook_dir ~ '/services/' ~ service.name ~ '/compose.yml') | from_yaml %}
{% set platform_compose = (lookup('file', platform_source.stat.path) | platform_compose_metadata) if platform_source.stat.exists else {'services': {}} %}
{% set canonical_services = canonical_compose.services | default({}) %}
{% set platform_services = platform_compose.services | default({}) %}
{% set compose_service_names = ((canonical_services.keys() | list) + (platform_services.keys() | list)) | unique | sort %}
{% for compose_service_name in compose_service_names %}
{% set canonical_definition = canonical_services.get(compose_service_name, {}) %}
{% set platform_definition = platform_services.get(compose_service_name, {}) %}
{% if platform_definition.image is defined %}
      {{ compose_service_name | to_json }}: {{ platform_definition.image | to_json }}
{% elif canonical_definition.image is defined %}
      {{ compose_service_name | to_json }}: {{ canonical_definition.image | to_json }}
{% endif %}
{% endfor %}
{% endfor %}
